{% extends 'base.html' %}

{% block title %}لیست آگهی‌های استخدام{% endblock %}

{% block content %}
<div class="row mt-4">
    <div class="col-12 text-center mb-4">
        <h2 class="text-primary fw-bold">آگهی‌های شغلی اخیر</h2>
        <p class="text-muted">شغل مورد نظر خود را در لیست زیر پیدا کنید</p>
    </div>

    {% for job in jobs %}
    <div class="col-md-6 col-lg-4 mb-4">
        <div class="card h-100 shadow-sm border-0">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <h5 class="card-title fw-bold text-dark mb-0">{{ job.title }}</h5>
                    <span class="badge bg-light text-dark border">{{ job.created_at|date:"Y/m/d" }}</span>
                </div>
                
         <h6 class="card-subtitle mb-3 text-muted small">
    <i class="bi bi-building"></i>
    {% if job.company %}
        {{ job.company.name }} {% else %}
        کارفرما: {{ job.employer.username }} {% endif %}
</h6>
                
                <p class="card-text text-secondary text-truncate">{{ job.requirements }}</p>
                
                <hr>
                
                <div class="d-flex justify-content-between align-items-center">
                    <span class="text-success fw-bold">{{ job.salary_min }} تومان</span>
                    <button class="btn btn-outline-primary btn-sm">جزئیات بیشتر</button>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
    <div class="col-12">
        <div class="alert alert-warning text-center">
            هنوز هیچ آگهی شغلی ثبت نشده است!
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}